.App {
  text-align: center;
  background-color: ivory;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4rem;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SHAME - Bad CSS practices ahead */
/* Custom */
.fw-md {
  font-weight: 800 !important;
}

.h-lg {
  height: 35rem;
}

.font-1-5 {
  font-size: 1.5rem;
}

.image-wrapper-sm {
  object-fit: cover;
  border-radius: 50%;
  height: 15rem;
  width: 100%;
}

/* BOOTSTRAP Overwrites */
.card-title {
  color: #ee8301;
}

/* ANTD Overwrites */
.ant-btn-primary {
  background-color: #ee8301 !important;
  border-color: #ee8301 !important;
}

.ant-slider-handle {
  border-color: #ee8301 !important;
}

.ant-slider-track {
  background-color: #282c34 !important;
}
